body{
    font-family: 'Circular Std Book';
}

.heading__2a{
    position: relative;
    top: -6%;
    color: #dfdfdf;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.heading__3a{
    position: relative;
    top: -6%;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
}

.info_1,
.info_2,
.info_3{
    font-family: 'Maven Pro';
    color: #cccccc;
    margin-bottom: 0;
    top: 0;
    padding-bottom: 0;
    margin: 8px 0;
    font-weight: 500;
}

.info_1 span,
.info_2 span,
.info_3 span{
    border-bottom: 1px solid #9c9d9d26;
}

.main__info{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.big__show{
    position: relative;
    display: flex;
    margin-top: -25px;
    margin-bottom: 6px;
    margin-left: -20px;
    color: #dfdfdf;
}
.big__show .horizontal{
    font-family: 'Maven Pro';
    font-size: 40px;
    font-weight: bold;
    
}

.big__show .vertical{
    font-size: 10px;
    position: absolute;
    top: 29%;
    right: -30%;
    color: #00f6b9;


}
.btn__large {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 35px;
    background-color: #00f6b9;
    outline: none;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Work Sans';
    text-transform: uppercase;
    border: 1px solid #00f6b9;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
    margin-top: -10px;
}